.game-cart {
  width: 100%;
  padding-left: 2rem;
}

.game-cart .cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 17rem;
  min-height: 20rem;
  background-color: var(--white-color);
  border-radius: 0.6rem;
  border: 1px solid var(--border-color);
  font-style: italic;
}

.game-cart .cart-empty {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--trash-color);
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.game-cart .cart-empty i {
  color: var(--button-number-color);
  font-size: 3rem;
}

.game-cart .info {
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  color: var(--text-color);
  padding-left: 1rem;
  padding-top: 2rem;
  text-transform: uppercase;
}

.games {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  max-height: 25rem;
}

.games::-webkit-scrollbar {
  width: 5px;
}

.games::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: var(--border-color);
}

.games::-webkit-scrollbar-thumb {
  background-color: var(--button-number-color); 
  border-radius: 20px;
}

.games .game {
  display: grid;
  grid-template-columns: 1fr 10fr;
  justify-content: space-between;
  margin-top: 1rem;
}

.games .game .game-trash {
  padding-top: 1.5rem;
}

.games .game .game-trash button {
  color: var(--trash-color);
}

.games .game .game-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 5rem;
  margin-left: 0.5rem;
}

.games .game .game-info span {
  margin-left: 0.5rem;
}

.games .game .game-info .numbers {
  color: var(--numbers-color);
  width: 100%;
  font-size: 0.93rem;
}

.games .game .game-info .name-and-price {
  font-size: 1rem;
  color: var(--numbers-color);
}

.games button {
  background-color: transparent;
  border: none;
}

.games p {
  width: 100%;
}

.game-info {
  border-radius: 3px;
} 

.cart-total {
  display: flex;
  justify-content: baseline;
  padding-left: 1rem;
  margin-top: 1rem;
  color: var(--text-color);
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.cart-total p strong {
  font-style: italic;
}

.game-cart .cart .cart-total {
  font-style: normal;
  font-weight: normal;
}

.cart-total span {
  padding-left: 0.5rem;
}

.game-cart .cart-save button {
  width: 100%;
  height: 6rem;
  bottom: 0;
  height: 6rem;
  font-size: 2rem;
  font-style: italic;
  color: var(--button-color);
  background-color: var(--button-save-background);
  border: 1px solid var(--border-color);
  outline: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
