.game-bar {
  width: 100%;
  padding-left: 5rem;
  color: var(--text-color);
}

.game-bar div {
  padding: 1rem;
}

.game-bar .info {
  display: flex;
  flex-direction: column;
}

.game-bar .info .new-bet {
  font-style: italic;
  font-weight: normal;
  text-transform: uppercase;
}

.game-bar .info .new-bet span {
  font-weight: normal;
}

.game-bar .info p {
  width: 99%;
}

.game-bar .info h3 {
  margin-top: 1.9rem;
  font-size: 17px;
  font-style: italic;
}

.game-bar .info .buttons-games,
div.game-range {
  padding-left: 0;
}


div.game-range {
  padding: 0 0 0 0.5rem;
}

.game-bar .info .buttons-games button {
  font-style: italic;
  font-size: 14px;
  background-color: transparent;
  border: 2px solid;
  width: 6.9rem;
  height: 2.1rem;
  border-radius: 6.25rem;
  margin-right: 0.9rem;
}

.game-bar .info span {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.game-bar .info span,
p {
  font-style: italic;
}

.game-bar .info p {
  font-weight: normal;
  margin-bottom: 0.3rem;
}

.game-range div {
  padding: 0;
  margin: 0;
}

.game-range button {
  font-weight: normal;
  font-size: 18px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--button-number-color);
  color: var(--white-color);
  border: none;
  margin-inline: 0.5rem;
  margin-bottom: 0.5rem;
}

.game-bar-settings {
  width: 97%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.game-bar-settings div {
  padding: 0;
  margin-top: 0.5rem;
}
.game-bar-settings button {
  height: 3.25rem;
  border: 1px solid var(--button-color);
  border-radius: 0.6rem;
  font-weight: bold;
  font-size: 1rem;
  background-color: transparent;
  color: var(--button-color);
}

.game-bar-settings #complete-game {
  width: 10.25rem;
}

.game-bar-settings #clear-game {
  width: 8.43rem;
}

.game-bar-settings #add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 13.06rem;
  background-color: var(--button-color);
  color: var(--white-color);
}
