header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid var(--border-color);
  height: 4rem;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
}

header .left {
  display: flex;
  align-items: center;
  padding-left: 6rem;
}

header .left #tgl {
  font-size: 44px;
  padding-top: 0.2rem;
}

header .left #tgl hr {
  width: 6.5rem;
  height: 0.45rem;
  background-color: var(--border-color-tgl);
  border: none;
  border-radius: 6px;
  padding-top: 0.2rem;
}

header .right {
  padding-right: 8rem;
}

header a {
  margin-inline-end: 3rem;
}

header,
footer {
  color: var(--text-color);
}

footer {
  border-top: 2px solid var(--border-color);
  height: 1px;
  padding: 2rem;
}

footer p {
  font-style: normal;
  text-align: center;
  font-size: 15px;
}

